body {
background-image: url("https://report.az/storage/news/2d24481fa1ef4a20e1a703f88f8400c4/aee96c6d-d63a-4f9a-897e-3213b477b5fe.jpg");
}

.container {
    padding-right: 0px;
    padding-left: 0px;
}

.mars {
    background-image: url("https://s-media-cache-ak0.pinimg.com/originals/68/21/83/682183f09bdf44e041f166718f2b9fc0.jpg");
    font-family: Monospace, Times, serif;
    color: white;
}