{% extends "base.html" %}

{% block title %}Main{% endblock title %}

{% block content %}

<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Weather</h3>
  </div>
  <div class="panel-body">
      Weather is the state of the atmosphere, to the degree that it is hot or cold, wet or dry, calm or stormy,
      clear or cloudy.Most weather phenomena occur in the troposphere, just below the stratosphere.
      Weather refers to day-to-day temperature and precipitation activity,
      whereas climate is the term for the statistics of atmospheric conditions over longer periods of time.
      When used without qualification, "weather" is generally understood to mean the weather of Earth.

      Weather is driven by air pressure, temperature and moisture differences between one place and another.
      These differences can occur due to the sun's angle at any particular spot,
      which varies by latitude from the tropics.
      The strong temperature contrast between polar and tropical air gives rise to the jet stream.
      Weather systems in the mid-latitudes, such as extratropical cyclones, are caused by instabilities of the jet stream flow.
      Because the Earth's axis is tilted relative to its orbital plane,
      sunlight is incident at different angles at different times of the year.
      On Earth's surface, temperatures usually range ±40 °C (−40 °F to 100 °F) annually.
      Over thousands of years, changes in Earth's orbit can affect the amount and distribution of solar energy received by the Earth,
      thus influencing long-term climate and global climate change.

      Surface temperature differences in turn cause pressure differences.
      Higher altitudes are cooler than lower altitudes due to differences in compressional heating.
      Weather forecasting is the application of science and technology to predict the state of the atmosphere for a future time and a given location.
      The system is a chaotic system; so small changes to one part of the system can grow to have large effects on the system as a whole.
      Human attempts to control the weather have occurred throughout human history,
      and there is evidence that human activities such as agriculture and industry have modified weather patterns.
  </div>
</div>

<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Forecasting</h3>
  </div>
  <div class="panel-body">
      Weather forecasting is the application of science and technology to predict the state of the atmosphere for a future time and a given location.
      Human beings have attempted to predict the weather informally for millennia, and formally since at least the nineteenth century.
      Weather forecasts are made by collecting quantitative data about the current state of the atmosphere and using
      scientific understanding of atmospheric processes to project how the atmosphere will evolve.

      Once an all-human endeavor based mainly upon changes in barometric pressure, current weather conditions, and sky condition,
      forecast models are now used to determine future conditions.
      Human input is still required to pick the best possible forecast model to base the forecast upon,
      which involves pattern recognition skills, teleconnections, knowledge of model performance,
      and knowledge of model biases. The chaotic nature of the atmosphere,
      the massive computational power required to solve the equations that describe the atmosphere,
      error involved in measuring the initial conditions, and an incomplete understanding of atmospheric processes
      mean that forecasts become less accurate as the difference in current time and the time for which the forecast
      is being made (the range of the forecast) increases. The use of ensembles and model consensus helps
      to narrow the error and pick the most likely outcome.
  </div>
</div>
{% endblock content %}